@model ERNI.PhotoDatabase.Server.Model.ImageDescription


<div class="row">
    <input type="hidden" asp-for="Id" />
    <div class="col">
        <div class="card">
            <img id="image" class="card-img-top image-toggle" src="@Url.Action("Thumbnail", "Photo", new {id = Model.Id})" alt="@Model.Name" style="width:100%;height:100%;">
            <img id="image-tag" class="card-img-top image-toggle" src="@Url.Action("Thumbnail", "Photo", new {id = Model.Id, withOverlay = true})" alt="@Model.Name" style="width:100%;height:100%;display:none">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Title" asp-for="Name" value="@Model.Name" />
            </div>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary image-toggler" data-image-id="#image">
                <input type="hidden" name="options" id="option1"> Toggle annotation
            </label>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label asp-for="Tags" class="control-label"></label>
            <input type="text" class="tag-input typeahead" asp-for="Tags" data-role="tagsinput"/>
        </div>
    </div>
</div>