@model ERNI.PhotoDatabase.Server.Controllers.PhotoModel[]
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row search-result">
    @foreach (var sr in Model)
    {
        <div class="col-sm-3 item text-white">

            <div class="card">
                <div style="position:relative;">
                    <div style="width:100%;padding-bottom:100%"></div>

                    <a style="height:100%;width:100%;position:absolute;left:0px; top:0px;" asp-controller="Detail" asp-action="Index" asp-route-id="@sr.Id">
                        <img style="height:100%;width:100%;object-fit:cover" src="@Url.Action("Thumbnail", "Photo", new { id = sr.Id })" alt="@sr.Name">
                    </a>

                    <div class="overlay">
                        <h7>@sr.Name</h7>

                        <a href="#" class="delete" data-photo-id="@sr.Id" data-toggle="modal" data-target="#exampleModal">
                            <img src="~/img/icons/ic_delete_white_24dp_1x.png" />
                        </a>

                        <a asp-controller="Tag" asp-action="Index" asp-route-fileIds="@sr.Id" class="float-right">
                            <img src="~/img/icons/ic_mode_edit_white_24dp_1x.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deleting photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want do delete the seleted photo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="modal-button-remove" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script type="text/javascript">
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var photoId = button.data('photo-id') // Extract info from data-* attributes

            var modal = $(this);
            modal.data("photo-id", photoId);
        })

        $('#modal-button-remove').bind('click', function (e) {
            var photoId = $("#exampleModal").data("photo-id");

            $.ajax({
                url: '/api/photo/' + photoId,
                dataType: "json",
                type: 'DELETE',
                success: function (result) {
                    location.reload(); 
                }
            });            
        });
    </script>
}
