@using ERNI.PhotoDatabase.Server.Utils
@using Remotion.Linq.Parsing.Structure.IntermediateModel

@model ERNI.PhotoDatabase.Server.Controllers.PhotoModel[]
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="...">
    <ul class="pagination">

        @if (ViewBag.Page > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(ViewBag.Page - 1)" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
            </li>
        }
        @for (var i = Math.Max(ViewBag.Page - 1, 1); i < Math.Max(ViewBag.Page - 1, 1) + 3; i++)
        {
            if (ViewBag.Page == i)
            {
                <li class="page-item active"><a class="page-link" asp-route-page="@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item">
            <a class="page-link" asp-route-page="@(ViewBag.Page + 1)">Next</a>
        </li>
    </ul>
</nav>

<div class="grid" id="photos">
    <div class="grid-sizer"></div>

    @foreach (var sr in Model)
    {
        <div class="grid-item-outer">
            <div class="grid-item item text-white">
                <a asp-controller="Detail" asp-action="Index" asp-route-id="@sr.Id">
                    <img src="@Url.Action("Thumbnail", "Photo", new { id = sr.Id })" alt="@sr.Name">
                </a>

                <div class="overlay">
                    <h7>@sr.Name</h7>


                    @if (User.CanWrite())
                    {
                        <a href="#" class="delete float-right" data-photo-id="@sr.Id" data-toggle="modal" data-target="#exampleModal">
                            <img src="~/img/icons/ic_delete_white_24dp_1x.png" />
                        </a>

                        <a asp-controller="Tag" asp-action="Index" asp-route-fileIds="@sr.Id" class="float-right">
                            <img src="~/img/icons/ic_mode_edit_white_24dp_1x.png" />
                        </a>
                    }
                </div>
            </div>
        </div>
    }

</div>

<nav aria-label="...">
    <ul class="pagination">

        @if (ViewBag.Page > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(ViewBag.Page - 1)" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
            </li>
        }
        @for (var i = Math.Max(ViewBag.Page - 1, 1); i < Math.Max(ViewBag.Page - 1, 1) + 3; i++)
        {
            if (ViewBag.Page == i)
            {
                 <li class="page-item active"><a class="page-link" asp-route-page="@i">@i</a></li>
            }
             else
             {
                 <li class="page-item"><a class="page-link" asp-route-page="@i">@i</a></li>
             }
        }
        <li class="page-item">
            <a class="page-link" asp-route-page="@(ViewBag.Page + 1)">Next</a>
        </li>
    </ul>
</nav>


@await Html.PartialAsync("/Views/Shared/Partial/ConfirmDeletePhoto.cshtml")

@section Scripts
    {
    <script src="/js/deletePhoto.js"></script>

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
        var grid = $('.grid').masonry({
            itemSelector: '.grid-item-outer',
            columnWidth: '.grid-sizer'
        });

        // layout Masonry after each image loads
        grid.imagesLoaded().progress(function () {
            grid.masonry('layout');
        });

    </script>
}
