@using ERNI.PhotoDatabase.Server.Utils

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ERNI.PhotoDatabase.Server.Controllers.PhotoModel[]
@{
    Layout = "_Layout";
    ViewData["Title"] = "Search Results";
}



<div class="grid" id="photos">
    <div class="grid-sizer"></div>

    @if (!Model.Any())
    {
        <p class="lead text-center">
            No photos found
        </p>
    }

    @foreach (var sr in Model)
    {
        <div class="grid-item-outer">
            <div class="grid-item item text-white">
                <a asp-controller="Detail" asp-action="Index" asp-route-id="@sr.Id">
                    <img src="@Url.Action("Thumbnail", "Photo", new { id = sr.Id })" alt="@sr.Name">
                </a>

                <div class="overlay">
                    <h7>@sr.Name</h7>

                    @if (User.CanWrite())
                    {
                        <a href="#" class="delete float-right" data-photo-id="@sr.Id" data-toggle="modal" data-target="#exampleModal">
                            <img src="~/img/icons/ic_delete_white_24dp_1x.png" />
                        </a>

                        <a asp-controller="Tag" asp-action="Index" asp-route-fileIds="@sr.Id" class="float-right">
                            <img src="~/img/icons/ic_mode_edit_white_24dp_1x.png" />
                        </a>
                    }
                </div>
            </div>
        </div>

    }
</div>

@await Html.PartialAsync("/Views/Shared/Partial/ConfirmDeletePhoto.cshtml")

@section Scripts
    {

    <script src="/js/deletePhoto.js"></script>

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
        var grid = $('.grid').masonry({
            itemSelector: '.grid-item-outer',
            columnWidth: '.grid-sizer'
        });

        // layout Masonry after each image loads
        grid.imagesLoaded().progress(function () {
            grid.masonry('layout');
        });

    </script>

}
