@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ERNI.PhotoDatabase.Server.Controllers.SearchResult[]
@{
    Layout= "_Layout";
    ViewData["Title"] = "Search Results";
}

<div class="row search-result">
    @foreach (var sr in Model)
    {
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="@Url.Action("Thumbnail", "Photo", new { id = sr.Id })" alt="@sr.Name">
                <div class="card-body">
                    <h4 class="card-title">@sr.Name</h4>
                    <p class="card-text tags">
                        @foreach(var tag in sr.Tags)
                        {
                            <a asp-controller="Home" asp-action="Search" asp-route-query="@tag" class="badge badge-primary">@tag</a>
                        }
                    </p>
                    <a asp-controller="Tag" asp-action="Index" asp-route-fileIds="@sr.Id"><span class="fa fa-tag"></span> Edit tags</a>
                </div>
            </div>
        </div>
    }
</div>




